.box{
    width: 200px;
    height: 200px;
    background: beige;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    transition: width 2s , height 5s;
    align-items: center;
    margin: auto;
    transition: all 3s linear 1s;
 }
 .container{
    width: 100vw;
    height: 100vh;
    display: flex ;
    justify-content: center;
    transition: width 2s , height 5s;

 }
 .box:hover{
    /* transform: rotate(45deg); */
   
    /* transform: scale(2); */
   
    /* transform: scale(0.5) ; */
   
    /* transform: rotate(-45deg); */
     
    /* transform: skew(45deg); */
                       /* x     y */
    transform: translate(0px,-500px);
   
     
}
p{
    font-size: 28px;
}
